.button {
  background-color: #a970ff;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 30px;
  min-width: 100px;
  padding: 0 15px;
}
.loading {
  align-items: center;
  background-color: #1f2024;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 10;
}
.spinner {
  -webkit-animation: spinner 1s linear 0s infinite;
  animation: spinner 1s linear 0s infinite;
  border: 8px solid #e1e1e1;
  border-radius: 50%;
  border-right-color: transparent;
  height: 30px;
  left: 50%;
  margin: -23px 0 0 -23px;
  position: absolute;
  top: 50%;
  width: 30px;
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.logo-container {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 18px;
}
.logo {
  margin-right: 10px;
}
.multiline > :not(:last-child) {
  margin-bottom: 5px;
}
.container,
.main {
  align-items: center;
  background-color: #1f2024;
  color: #e1e1e1;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  min-height: 500px;
  width: 460px;
}
.container-center {
  justify-content: center;
}
.settings {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
.no-favorite-title,
.streams-title {
  color: #fff;
  font-size: 14px;
  line-height: 1.1;
  margin-left: 10px;
}
.no-favorite-title {
  margin-bottom: 10px;
  text-align: center;
}
.all-streams {
  background-color: #1f2024;
  width: 100%;
}
.display-all-container {
  display: flex;
  font-size: 14px;
  justify-content: center;
  margin: 5px;
  width: 100%;
}
.label-display-all-checkbox {
  background-color: #a970ff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 5px;
}
.checked-background {
  background-color: #0f0f0f;
  border-radius: 5px;
  color: #a970ff;
  cursor: pointer;
  padding: 5px;
}
#display-all-checkbox {
  display: none;
}
.stream {
  align-items: center;
  align-items: flex-start;
  background-color: #0f0f0f;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 60px;
  margin: 8px;
  padding: 8px;
  position: relative;
}
.stream-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.username {
  color: #fff;
  font-size: 18px;
}
.game-name {
  font-size: 16px;
}
.game-name,
.title {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-right: 40px;
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title {
  font-size: 12px;
}
.viewer-count {
  font-size: 14px;
}
.picture-container {
  margin-right: 10px;
}
.picture,
.picture-container {
  height: 59px;
  width: 105px;
}
.first-line {
  justify-content: space-between;
  width: 100%;
}
.first-line,
.line-viewer {
  display: flex;
  flex-direction: row;
}
.line-viewer {
  align-items: center;
}
.round {
  background-color: red;
  border-radius: 100%;
  height: 9px;
  margin-right: 5px;
  width: 9px;
}
.user-image {
  border-radius: 100%;
  bottom: 8px;
  height: 38px;
  position: absolute;
  right: 8px;
  width: 38px;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*# sourceMappingURL=popup.css.map*/
